.title {
    margin-top: 0;
    margin-bottom: .75rem;
    /* text-align: center; */
    font-family: Roboto;
}
.form-control-group {
    margin-bottom: 2rem;
}
.links{
    text-align: center;
    margin-top: 1.75rem;
}
.another-action{
margin-top: 2rem;
text-align: center;
}
.links .socials {
    margin-top: 1.5rem;
}
.links .socials a.with-icon {
    font-size: 2rem;
}
h1, a, nb-checkbox label{
    /* font-family: Exo; */
    color:white !important;
}
label,p,.another-action {
    color:white;
}
.links .socials a {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    vertical-align: middle;
}
.hovers{
    /* border: 1px solid #888888;
    border-radius: 15px; */
    padding: 25px;
    background-color: #00000087;
}
.center{
    width: 100px;
    display: block;
}
 .logo{
    float: right;
    display:inline-block;
    padding: 10px;
 }

/deep/ nb-alert.success-alert {
    background-color: #ff386a !important;
}

/deep/nb-card nb-card-header nav a i {
    display: none;
}