<!-- {{siteLists|json}} -->

<nb-card>
    <nb-card-header>
        Post List
        <div style="float: right" *ngIf="!empty">
            <button nbButton id="customButton" shape="round" size="small" status="success" (click)="addNewSite()">Add
                New Post</button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="col-md-4 mt-1" style="float: left">
            <div class="form-group" *ngIf="empty">
                <nb-card accent="danger">
                    <nb-card-body>
                        <h3>No companies are added. Please add one.</h3>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="form-group" *ngIf="!empty">
                <label>Company Name</label>
                <select class="form-control" name="providerName" placeholder="Company Name" (change)="providerName($event.target.value)">
                    <option *ngFor="let list of companyList" [value]="list.companyId"
                        [attr.selected]="list.companyId == routeId ? true : null">{{list.companyName}}
                    </option>
                </select>
            </div>
        </div>
        <ng2-smart-table *ngIf="!empty" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)" (custom)="onCustomAction($event)" [settings]="settings" [source]="source"></ng2-smart-table><br>
        <!-- <div style="float: left">
            <button nbButton id="customButton" shape="round" size="small" status="danger" (click)="back()">Back</button>
        </div> -->
    </nb-card-body>
</nb-card>