<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ message }}

</div>
<div class="modals-footer">
  <div class="p-3" style="float: left !important">
    <button (click)="decline()" nbButton id="customButtonClose" type="button" shape="round" size="small"
      status="danger">{{ btnCancelText }}</button>
  </div>
  <div class="p-3" style="float: right !important">
    <button type="submit" (click)="accept()" nbButton id="customButtonUpdate" shape="round" size="small"
      status="success">{{ btnOkText }}</button>
  </div>

</div>