<form aria-labelledby="title" id="register" #register="ngForm" (ngSubmit)="registerForm(register)"
  class="ng-touched ng-dirty ng-invalid hovers " name="form" novalidate>
  <div class="form-control-group">
    <h1 id="title" class="title">Register</h1>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-email">Owner Name</label>
    <input type="text" class="form-control" name="providerName" ngModel placeholder="Owner Name" #ownername="ngModel"
      required />
  </div>
  <div class="form-control-group">
    <label class="label" for="input-email">Email Id:</label>
    <input type="email" class="form-control" name="email" placeholder="Email" ngModel #username="ngModel" required />
  </div>
  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Password" ngModel #password="ngModel"
      required />
  </div>
  <!-- <div class="form-control-group accept-group">
    <a class="forgot-password" routerLink="/forgotpassword">Forgot password?</a>
  </div> -->
  <button type="submit" fullwidth="" nbButton id="customButton" class="btn btn-outline-primary btn-full-width"
    tabindex="0" shape="round" size="small"
    style="width:100%;border-color: transparent;background-color: #46adfd; color: white"
    [disabled]="register.invalid">Register </button>
  <nb-alert *ngIf="errorMessage && !submitted" status="success" role="alert" closable (click)="onClose()">
    <p style="color:black">Danger!{{errorMessage}}</p>
  </nb-alert>
</form>