<!-- {{companyLists | json}} -->
<nb-card>
  <nb-card-header>
    {{dashboardHeader}}
    <div style="float: right">
      <button type="button" nbButton id="customButton" shape="round" size="small" status="success" (click)="createcompany()">{{title}}</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (userRowSelect)="onUserRowSelect($event)" (custom)="onCustomAction($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>