<nb-card nbPopover="This is only for viewing. Editing is not allowed." nbPopoverMode="hover"
  nbPopoverPlacement="bottom">
  <nb-card-header>
    <h5 style="text-align: center"><img [src]="profilePic || profilepicture" alt="User"
        onerror="this.src='./assets/user-avatar.png';" style="width:20%"></h5>
    <br>
    <h5 style="text-align: center">Personal Profile</h5>
  </nb-card-header>
  <nb-card-body>
    <form #profile="ngForm" (ngSubmit)="loginForm(profile)">
      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="from-group">
            <label>Name</label>
            <input type="text" class="form-control" name="providerName" [(ngModel)]="provider.providerName"
              placeholder="Provider Name" disabled>
          </div>

          <div class="from-group mt-2">
            <label>Phone Number</label>
            <input type="Number" min="0" class="form-control" name="phone" [(ngModel)]="provider.phone"
              placeholder="Phone Number" disabled>
          </div>

          <div class="from-group mt-2">
            <label>Mobile Number</label>
            <input type="number" class="form-control" min="0" name="mobile" [(ngModel)]="provider.mobile"
              placeholder="Mobile Number" disabled>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="from-group">
            <label>Address</label>
            <textarea type="text" class="form-control" name="providerAddress" [(ngModel)]="provider.providerAddress"
              rows="9" placeholder="Provider Address" disabled></textarea>
          </div>
        </div>

        <!-- <div class="col-md-6 mt-2">
          <div class="from-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="provider.city" placeholder="City" disabled>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="from-group">
            <label>Country</label>
            <input type="text" min="0" class="form-control" name="country" [(ngModel)]="provider.country"
              placeholder="Country" disabled>
          </div>
        </div> -->
        <div class="col-md-4 mt-2">
          <div class="from-group">
            <label>No of Companies</label>
            <input type="number" min="0" class="form-control" name="noOfCompanys" [(ngModel)]="provider.noOfCompanys"
              placeholder="No. of Companies" disabled>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="from-group">
            <label>No of Employees</label>
            <input type="number" min="0" class="form-control" name="noOfEmployees" [(ngModel)]="provider.noOfEmployees"
              placeholder="No. of Employees" disabled>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="from-group">
            <label>No of Guards</label>
            <input type="number" min="0" class="form-control" name="noOfGuards" [(ngModel)]="provider.noOfGuards"
              placeholder="No. of Guards" disabled>
          </div>
        </div>
        <!-- <div class="col-md-4 mt-2">

        </div> -->
        <div class="col-md-4 mt-2">
          <div class="from-group">
            <label>Licence Trial End Date</label>
            <input type="text" class="form-control" name="licenseTrailEndDate"
              [(ngModel)]="provider.licenseTrailEndDate" placeholder="License Trail EndDate" disabled>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="from-group">
            <label>Licence Start Date</label>
            <input type="text" class="form-control" name="licenseStartDate" [(ngModel)]="provider.licenseStartDate"
              placeholder="License Start Date" disabled>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="from-group">
            <label>Licence End Date</label>
            <input type="text" class="form-control" name="licenseEndDate" [(ngModel)]="provider.licenseEndDate"
              placeholder="License End Date" disabled>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>