@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

/deep/ng2-smart-table tbody tr td {
    cursor: pointer;
}

/deep/ ng2-smart-table .ng2-smart-action.ng2-smart-action-custom-custom{
    color: white !important;
    float: left !important;
    display: flex !important;
    background-color: #3dcc6d !important;
 }

/deep/ ng2-smart-table .ng2-smart-actions ng2-st-tbody-custom a.ng2-smart-action {
  
    width: 23% !important;
    margin-top: 3% !important;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
}

/deep/ .nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action{
    font-size: 1rem !important;
    margin-left: 26px;
}
