<!-- {{user | json}} -->

<nb-card>
    <nb-card-header>
        {{dashboardHeader}}
    </nb-card-header>
    <nb-card-body>
        <form class="p-1" #createProvider="ngForm" (ngSubmit)="createNewProvider(createProvider)">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div class="from-group">
                        <label>{{title}} Name<span style="color: red !important;">*</span></label>
                        <input [disabled]="edit === true" type="text" class="form-control" id="compamnyname" name="providerName" [(ngModel)]="user.providerName" placeholder="{{title}} Name" #compamnyname="ngModel" [ngClass]="{ 'is-invalid ':createProvider.submitted && compamnyname.invalid }"
                            required>
                        <div class="invalid-feedback" *ngIf=" createProvider.submitted && compamnyname.invalid">
                            <div *ngIf="compamnyname.errors.required">{{title}} Name Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>{{title}} Address<span style="color: red !important;">*</span></label>
                        <textarea [disabled]="edit === true" class="text" type="text" class="form-control" name="providerAddress" rows="6" [(ngModel)]="user.providerAddress" placeholder="{{title}} Address" #providerAddress="ngModel" [ngClass]="{ 'is-invalid ':createProvider.submitted && providerAddress.invalid }"
                            required></textarea>
                        <div class="invalid-feedback" *ngIf=" createProvider.submitted && providerAddress.invalid">
                            <div *ngIf="providerAddress.errors.required">{{title}} Address Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>{{title}} Phone Number</label>
                        <input [disabled]="edit === true" type="number" minlength="10" maxlength="10" pattern="[0-9]*" min="0" class="form-control" name="phone" [(ngModel)]="user.phone" placeholder="{{title}} Phone Number" required>
                    </div>
                    <div class="from-group mt-3">
                        <label>{{title}} Mobile Number</label>
                        <input [disabled]="edit === true" type="number" class="form-control" minlength="10" maxlength="10" pattern="[0-9]*" min="0" name="mobile" [(ngModel)]="user.mobile" placeholder="{{title}} Mobile Number" required>
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <h4>Register Details</h4>
                </div>
                <div *ngIf="!edit" class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Email<span style="color: red !important;">*</span></label>
                        <input type="email" class="form-control" (blur)='checkEmail($event.target.value)' name="email" [(ngModel)]="user.email" placeholder="Email" #email="ngModel" [ngClass]="{ 'is-invalid ':createProvider.submitted && email.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createProvider.submitted && email.invalid">
                            <div *ngIf="email.errors.required">Email Field is Required</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!edit" class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Password<span style="color: red !important;">*</span></label>
                        <input type="password" class="form-control" name="password" [disabled]="text == 'Edit'?true:false" [(ngModel)]="user.password" placeholder="Password" #password="ngModel" [ngClass]="{ 'is-invalid ':createProvider.submitted && password.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createProvider.submitted && password.invalid">
                            <div *ngIf="password.errors.required">Password Field is Required</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 mt-2">
          <div class="from-group">
            <label>No of Companies</label>
            <input type="number" min="0" class="form-control" name="noOfCompanys" [(ngModel)]="user.noOfCompanys"
              pattern="[0-9]*" placeholder="No of Companies" #noOfCompanys="ngModel"
              [ngClass]="{ 'is-invalid ':createProvider.submitted && noOfCompanys.invalid }" required>
            <div class="invalid-feedback" *ngIf=" createProvider.submitted && noOfCompanys.invalid">
              <div *ngIf="noOfCompanys.errors.required">No of Companies Field is Required</div>
            </div>
          </div>
        </div> -->
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>No of Employees<span style="color: red !important;">*</span></label>
                        <input type="number" min="0" class="form-control" (change)="getNoOfEmployees($event.target.value)" name="noOfEmployees" [(ngModel)]="user.noOfEmployees" pattern="[0-9]*" placeholder="No of Employee" #noOfEmployees="ngModel" [ngClass]="{ 'is-invalid ':createProvider.submitted && noOfEmployees.invalid }"
                            required>
                        <div class="invalid-feedback" *ngIf=" createProvider.submitted && noOfEmployees.invalid">
                            <div *ngIf="noOfEmployees.errors.required">No of Employees Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>No of Guards<span style="color: red !important;">*</span></label>
                        <input type="number" min="0" class="form-control" (blur)="getNoOfGuards($event.target.value)" name="noOfGuards" [(ngModel)]="user.noOfGuards" pattern="[0-9]*" placeholder="No of Guards" #noOfGuards="ngModel" [ngClass]="{ 'is-invalid ':createProvider.submitted && noOfGuards.invalid }"
                            required>
                        <div class="invalid-feedback" *ngIf=" createProvider.submitted && noOfGuards.invalid">
                            <div *ngIf="noOfGuards.errors.required">No of Guards Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label> License Trail End Date </label>
                        <input *ngIf='!edit' type="date" class="form-control" name="licenseTrailEndDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                        <input *ngIf='edit' disabled type="date" class="form-control" name="licenseTrailEndDate" [(ngModel)]="user.licenseTrailEndDate" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label> License Start Date </label>
                        <input *ngIf='!edit' type="date" class="form-control" name="licenseStartDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                        <input *ngIf='edit' disabled type="date" class="form-control" name="licenseStartDate" [(ngModel)]="user.licenseStartDate" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label> License End Date </label>
                        <input *ngIf='!edit' type="date" class="form-control" name="licenseEndDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                        <input *ngIf='edit' disabled type="date" class="form-control" name="licenseEndDate" [(ngModel)]="user.licenseEndDate" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Profile Picture</label>
                        <input type="file" class="form-control" accept='image/*' (change)="readURL($event.target.files)" required />
                        <div *ngIf="user.profilePic" class="pt-2">
                            <img [src]='user.profilePic' width="30%" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- [disabled]="createProvider.invalid" -->
            <div class="d-flex flex-row-reverse">
                <div *ngIf="!edit" class="p-3">
                    <button [disabled]='more' type="submit" nbButton id="customButton" shape="round" size="small" status="success">Submit</button>
                </div>
                <div *ngIf="edit" class="p-3">
                    <button type="submit" nbButton id="customButtonUpdate" shape="round" size="small" status="success">Update</button>
                </div>
                <div class="p-3">
                    <button (click)="close()" type="button" nbButton id="customButtonClose" shape="round" size="small" status="danger">Close</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>