.example-container>* {
    width: 100%;
  }
 
  #login {
    margin: 0px auto;
    width: 75%;
  }
 
  .text {
    resize: none;
  }
 
  .quantity::-webkit-inner-spin-button, .quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
 
  @media (min-width: 320px) and (max-width: 1024px) {
    .example-container>* {
      width: 100%;
    }
  }