<nb-card>
    <nb-card-header>
        Company Details
        <div class="d-flex flex-row-reverse" style="margin-top: -2%;margin-bottom: -1%;">
            <div *ngIf="edit">
                <button type="button" nbButton id="customButtonUpdate" shape="round" size="small" status="success" (click)='getEmployeeRecords(user.companyId)'>Employees</button>
            </div>
            <div style="margin-right: 1%;" *ngIf="edit">
                <button type="button" nbButton id="customButton" shape="round" size="small" status="success" (click)='getSiteRecords(user.companyId)'>Post</button>
            </div>
            <div style="margin-right: 1%;" *ngIf="edit">
                <button type="button" nbButton id="customButtonUpdate" shape="round" size="small" status="success" (click)='getScanRecords(user.companyId)'>Scans</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="p-1" #createcompany="ngForm" (ngSubmit)="createNewCompany(createcompany);">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div class="from-group">
                        <label>Company Name<span style="color: red !important;">*</span></label>
                        <input type="text" class="form-control" id="compamnyname" name="companyName" [(ngModel)]="user.companyName" #companyName="ngModel" [ngClass]="{ 'is-invalid ':createcompany.submitted && companyName.invalid }" placeholder="Company Name" required>
                        <div class="invalid-feedback" *ngIf=" createcompany.submitted && companyName.invalid">
                            <div *ngIf="companyName.errors.required">Company Name Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Company Address<span style="color: red !important;">*</span></label>
                        <textarea class="text" type="text" class="form-control" name="companyAddress" rows="6" [(ngModel)]="user.companyAddress" placeholder="Company Address" #companyAddress="ngModel" [ngClass]="{ 'is-invalid ':createcompany.submitted && companyAddress.invalid }"
                            required></textarea>
                        <div class="invalid-feedback" *ngIf=" createcompany.submitted && companyAddress.invalid">
                            <div *ngIf="companyAddress.errors.required">Company Address Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Company Phone Number</label>
                        <input type="number" minlength="10" maxlength="10" pattern="[0-9]*" min="0" class="form-control" name="phone" [(ngModel)]="user.phone" placeholder="Phone Number" required>
                    </div>
                    <div class="from-group mt-3">
                        <label>Company Mobile Number</label>
                        <input type="number" class="form-control" minlength="10" maxlength="10" pattern="[0-9]*" min="0" name="mobile" [(ngModel)]="user.mobile" placeholder="Company Mobile Number" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Emergency Contact Person Name</label>
                        <input type="text" class="form-control" name="emergencyContactPersonName" [(ngModel)]="user.emergencyContactPersonName" placeholder="Emergency Contact Person Name" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Emergency Contact Person Number</label>
                        <input type="number" minlength="10" maxlength="10" pattern="[0-9]*" min="0" class="form-control" name="emergencyContactPersonNumber" [(ngModel)]="user.emergencyContactPersonNumber" placeholder="Emergency Contact Person Number" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Company ISO Number</label>
                        <input type="number" min="0" class="form-control" name="companyIsoNumber" [(ngModel)]="user.companyIsoNumber" placeholder="Company ISO Number" required>
                    </div>
                </div>
                <!-- <div *ngIf="!edit" class="col-md-6 mt-2">
          <div class="from-group">
            <label>Email</label>
            <input type="email" (blur)='checkEmail($event.target.value)' class="form-control" name="email"
              [(ngModel)]="user.email" placeholder="Email" required>
          </div>
        </div> -->
                <div class="col-md-12 mt-5">
                    <h4>Bank Details</h4>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Bank Name</label>
                        <input type="text" class="form-control" name="CompanyBankName" [(ngModel)]="user.CompanyBankName" placeholder="Bank Name" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Bank Branch Name</label>
                        <input type="text" class="form-control" name="CompanyBankBranch" [(ngModel)]="user.CompanyBankBranch" placeholder="Bank Branch Name" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Bank Address</label>
                        <textarea class="text" type="text" class="form-control" name="CompanyBankAddress" rows="6" [(ngModel)]="user.CompanyBankAddress" placeholder="Bank Address"></textarea>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Bank Account Number</label>
                        <input type="number" min="0" class="form-control" name="companyAccountNumber" [(ngModel)]="user.companyAccountNumber" pattern="[0-9]*" placeholder="Bank Account Number" required>
                    </div>
                    <div class="from-group mt-3">
                        <label>Account IFSC Code</label>
                        <input type="text" class="form-control" name="CompanyIfscCode" [(ngModel)]="user.CompanyIfscCode" placeholder="Account IFSC Code" required>
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <h4>Register Details</h4>
                </div>
                <div *ngIf="!edit" class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Email<span style="color: red !important;">*</span></label>
                        <input type="email" class="form-control" name="email" (blur)='checkEmail($event.target.value)' [(ngModel)]="user.email" placeholder="Email" #email="ngModel" [ngClass]="{ 'is-invalid ':createcompany.submitted && email.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createcompany.submitted && email.invalid">
                            <div *ngIf="email.errors.required">Email Field is Required</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!edit" class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Password<span style="color: red !important;">*</span></label>
                        <input type="password" class="form-control" name="password" [disabled]="text == 'Edit'?true:false" [(ngModel)]="user.password" placeholder="Password" #password="ngModel" [ngClass]="{ 'is-invalid ':createcompany.submitted && password.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createcompany.submitted && password.invalid">
                            <div *ngIf="password.errors.required">Password Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2" nbPopover="This is read only field." nbPopoverMode="hover" nbPopoverPlacement="bottom">
                    <div class="from-group">
                        <label>No of Employees Assigned</label>
                        <input type="number" min="0" class="form-control" name="noOfEmployees" [(ngModel)]="user.noOfEmployees" pattern="[0-9]*" placeholder="0" #noOfEmployees="ngModel" disabled>
                        <div class="invalid-feedback" *ngIf=" createcompany.submitted && noOfEmployees.invalid">
                            <div *ngIf="noOfEmployees.errors.required">Company No of Employees Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>No of Sites</label>
                        <input type="number" min="0" class="form-control" name="noOfSites" [(ngModel)]="user.noOfSites" pattern="[0-9]*" placeholder="Company No of Sites" required>
                    </div>
                </div>
                <!-- <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Company No of Guards</label>
                        <input type="number" min="0" class="form-control" name="noOfGuards" [(ngModel)]="user.noOfGuards" pattern="[0-9]*" placeholder="Company No of Guards" #noOfGuards="ngModel" [ngClass]="{ 'is-invalid ':createcompany.submitted && noOfGuards.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createcompany.submitted && noOfGuards.invalid">
                            <div *ngIf="noOfGuards.errors.required">Company No of Guards Field is Required</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-6 mt-2">

                </div> -->
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label> License Trail End Date </label>
                        <input *ngIf="edit" type="date" class="form-control" name="licenseTrailEndDate" [(ngModel)]="user.licenseTrailEndDate" placeholder="" required>
                        <input *ngIf="!edit" type="date" class="form-control" name="licenseTrailEndDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label> License Start Date </label>
                        <input *ngIf="edit" type="date" class="form-control" name="licenseStartDate" [(ngModel)]="user.licenseStartDate" placeholder="" required>
                        <input *ngIf="!edit" type="date" class="form-control" name="licenseStartDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label> License End Date </label>
                        <input *ngIf="edit" type="date" class="form-control" name="licenseEndDate" [(ngModel)]="user.licenseEndDate" placeholder="" required style="padding: 10px">
                        <input *ngIf="!edit" type="date" class="form-control" name="licenseEndDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Profile Picture</label>
                        <input type="file" class="form-control" accept='image/*' (change)="readURL($event.target.files)" required />
                        <div *ngIf="user.profilePic" class="pt-2">
                            <img [src]='user.profilePic' width="30%" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- [disabled]="createcompany.invalid" -->
            <div class="d-flex flex-row-reverse">
                <div *ngIf="!edit" class="p-3">
                    <button nbButton id="customButton" shape="round" size="small" status="success" type="submit">Submit</button>
                </div>
                <div *ngIf="edit" class="p-3">
                    <button type="submit" nbButton id="customButtonUpdate" shape="round" size="small" status="success">Update</button>
                </div>
                <div class="p-3">
                    <button (click)="close()" type="button" nbButton id="customButtonClose" shape="round" size="small" status="danger">Close</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>