<!-- {{locationLists | json}} -->
<nb-card>
    <nb-card-header>
        <!-- <h5 *ngIf="!showDetails" style="text-align: center">Location Lists</h5>
    <h5 *ngIf="showDetails" style="text-align: center">Location Details</h5> -->
        {{siteName}} Locations
        <div *ngIf="!showDetails" style="float: right">
            <button type="button" nbButton id="customButton" shape="round" size="small" status="success" (click)="addNewLocation()" [disabled]='full'>Add New
        Location</button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table *ngIf="!showDetails" [settings]="settings" [source]="source"></ng2-smart-table>
        <div *ngIf="!showDetails" style="float: left" class="mt-2">
            <button type="button" nbButton id="customButtonClose" shape="round" size="small" status="danger" (click)="cancel()">Back</button>
        </div>
        <div *ngIf="showDetails">
            <form #createLocation="ngForm" (ngSubmit)="createNewLocation(createLocation);">
                <div class="row">
                    <div class="col-md-3 example-container">
                        <div class="from-group">
                            <label>Location Name<span style="color: red !important;">*</span></label>
                            <input type="text" class="form-control" name="locationName" ngModel placeholder="Location Name" #locationName="ngModel" [ngClass]="{ 'is-invalid ':createLocation.submitted && locationName.invalid }" required>
                            <div class="invalid-feedback" *ngIf=" createLocation.submitted && locationName.invalid">
                                <div *ngIf="locationName.errors.required">LocationName Field is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 example-container">
                        <div class="from-group">
                            <label>Latitude<span style="color: red !important;">*</span></label>
                            <input type="number" min="0" class="form-control" name="latitude" ngModel placeholder="Latitude" #latitude="ngModel" [ngClass]="{ 'is-invalid ':createLocation.submitted && latitude.invalid }" required>
                            <div class="invalid-feedback" *ngIf=" createLocation.submitted && latitude.invalid">
                                <div *ngIf="latitude.errors.required">Latitude Field is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 example-container">
                        <div class="from-group">
                            <label>Longitude<span style="color: red !important;">*</span></label>
                            <input type="number" min="0" class="form-control" name="longitude" ngModel placeholder="Longitude" #longitude="ngModel" [ngClass]="{ 'is-invalid ':createLocation.submitted && longitude.invalid }" required>
                            <div class="invalid-feedback" *ngIf=" createLocation.submitted && longitude.invalid">
                                <div *ngIf="longitude.errors.required">Longitude Field is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 example-container">
                        <div class="from-group">
                            <label>Location Difference (in meters)<span style="color: red !important;">*</span></label>
                            <input type="number" min="0" class="form-control" name="locDifference" ngModel placeholder="Location Difference (in meters)" #locDifference="ngModel" [ngClass]="{ 'is-invalid ':createLocation.submitted && locDifference.invalid }" required>
                            <div class="invalid-feedback" *ngIf=" createLocation.submitted && locDifference.invalid">
                                <div *ngIf="locDifference.errors.required">Location Difference Field is Required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [disabled]="createLocation.invalid" -->
                <div class="d-flex flex-row-reverse mt-2 mb-2">
                    <div class="pl-4">
                        <button type="submit" nbButton id="customButton" shape="round" size="small" status="success">Submit</button>
                    </div>
                    <div class="pl-3">
                        <button type="button" nbButton id="customButtonClose" shape="round" size="small" status="danger" (click)="close()">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>