<!-- {{siteLists|json}} -->

<nb-card>
    <nb-card-header>
        Post Details
    </nb-card-header>
    <nb-card-body>
        <div class="col-md-3" *ngIf="!edit">
            <div class="form-group">
                <label>Company Name<span style="color: red !important;">*</span></label>
                <select class="form-control" name="providerName" placeholder="Company Name" (change)="providerName($event.target.value)">
                  <option value="" disabled>--Select Company Name--</option>
                  <option *ngFor="let list of companyList" [value]="list.companyId">{{list.companyName}}
                  </option>
                </select>
            </div>
        </div>
        <div>
            <form class="container p-1" name="site" #createSite="ngForm" (ngSubmit)="createNewsite(createSite)">
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <div class="from-group">
                            <label>Post Name<span style="color: red !important;">*</span></label>
                            <input type="text" class="form-control" name="siteName" [(ngModel)]="user.siteName" placeholder="Post Name" #siteName="ngModel" [ngClass]="{ 'is-invalid ':createSite.submitted && siteName.invalid }" required>
                            <div class="invalid-feedback" *ngIf=" createSite.submitted && siteName.invalid">
                                <div *ngIf="siteName.errors.required">PostName Field is Required</div>
                            </div>
                        </div>
                        <div class="from-group mt-2">
                            <label>Scan Intervals (in Minutes)</label>
                            <input type="text" class="form-control" name="scanIntervals" [(ngModel)]="user.scanIntervals" placeholder="Scan Intervals" required>
                        </div>
                        <div class="from-group mt-2">
                            <label>Post No of Location<span style="color: red !important;">*</span></label>
                            <input type="number" min="0" class="form-control" name="siteNoOfQrcodes" [(ngModel)]="user.siteNoOfQrcodes" pattern="[0-9]*" placeholder="Post No of Location" #siteNoOfQrcodes="ngModel" [ngClass]="{ 'is-invalid ':createSite.submitted && siteNoOfQrcodes.invalid }"
                                required>
                            <div class="invalid-feedback" *ngIf=" createSite.submitted && siteNoOfQrcodes.invalid">
                                <div *ngIf="siteNoOfQrcodes.errors.required">Post No of Location Field is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="from-group">
                            <label>Post Address<span style="color: red !important;">*</span></label>
                            <textarea class="text" type="text" class="form-control" name="Address" [(ngModel)]="user.Address" rows="6" cols="2" required placeholder="Post Address" #Address="ngModel" [ngClass]="{ 'is-invalid ':createSite.submitted && Address.invalid }" required></textarea>
                            <div class="invalid-feedback" *ngIf=" createSite.submitted && Address.invalid">
                                <div *ngIf="Address.errors.required">Address Field is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="from-group">
                            <label>Auto Sync</label>
                            <nb-radio-group style="display: flex;" name="autoSync" [(ngModel)]="user.autoSync">
                                <nb-radio value="Yes" selected>Yes</nb-radio>
                                <nb-radio value="No">No</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="from-group">
                            <label>Scan Options</label>
                            <section class="example-section pt-2">
                                <nb-checkbox class="example-margin pl-2" name="qrcode" [(ngModel)]="user.qrcode">QR code
                                </nb-checkbox>
                                <nb-checkbox class="example-margin pl-2" name="swap" [(ngModel)]="user.swap">Swipe
                                </nb-checkbox>
                                <nb-checkbox class="example-margin pl-2" name="manual" [(ngModel)]="user.manual">Manual
                                </nb-checkbox>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- [disabled]="createSite.invalid" -->
                <div class="d-flex flex-row-reverse ">
                    <div class="p-3">
                        <button type="submit" nbButton id="customButton" shape="round" size="small" status="success">Submit</button>
                    </div>
                    <div class="p-3">
                        <button type="button" nbButton id="customButtonClose" (click)="close()" shape="round" size="small" status="danger">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>