<!-- {{employeeLists | json}} -->

<nb-card>
    <nb-card-header>
        {{CompanyName}} Employee List
        <div style="float: right">
            <button nbButton id="customButton" shape="round" size="small" status="success" (click)="addNewEmployee()">Add New
                Employee</button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)" [settings]="settings" [source]="source"></ng2-smart-table><br>
        <!-- <div class="p-3" style="float: left">
            <button nbButton id="customButtonClose" shape="round" size="small" status="danger" (click)="back()">Back</button>
        </div> -->
    </nb-card-body>
</nb-card>