<nb-card>
    <nb-card-header>
        {{dashboardHeader}}
    </nb-card-header>
    <nb-card-body>
        <form #companyDetails="ngForm">
            <div class="col-md-4 mt-2" *ngIf="empty">
                <div class="form-group">
                    <nb-card accent="danger">
                        <nb-card-body>
                            <h3>{{title}}</h3>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
            <div *ngIf="!owner">
                <div class="row" *ngIf="!empty">
                    <!-- <div class="col-md-4">
                        <div class="form-group">
                            <label>Company Name</label>
                            <select class="form-control" name="providerName" placeholder="Company Name" (change)="companyName($event.target.value)">
                                <option *ngFor="let list of companyList" [value]="list.companyId">{{list.companyName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8"></div> -->
                    <div class="col-md-4 mt-2" *ngFor="let list of companyList; let i = index;">
                        <nb-card id="{{list.companyId}}" accent="success">
                            <nb-card-header style="cursor: pointer;" (click)="getCompanyDetails(list.companyId)">
                                {{list.companyName}}
                            </nb-card-header>
                            <nb-card-body id="customButton">
                                <div class="row" style="margin-left: 25%;">
                                    <div style="display: flex;width: 100%;">
                                        <img src="../../../assets/images/attendence.png">
                                        <h3 style="margin-left: 4%;margin-top: 2%;">Present / Total</h3><br>
                                    </div>
                                    <div style="width: 100%">
                                        <h3 style="margin-left: 27%;margin-top: 2%;">{{assigned[i].present}} / {{assigned[i].total}}</h3>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <nb-card accent="info" style="margin-left: 2% !important;" *ngFor="let site of siteArray[i]; let j = index;">
                                        <nb-card-header style="cursor: pointer;" (click)="getSiteDetails(site.siteId)">
                                            {{site.siteName}}</nb-card-header>
                                        <nb-card-body></nb-card-body>
                                    </nb-card>
                                </div> -->
                                <div style="float: right" class="m-1">
                                    <button nbButton id="customButton" shape="round" size="small" status="success" (click)="getEmployees(list.companyId)">Employees</button>
                                </div>
                                <div style="float: right" class="m-1">
                                    <button nbButton id="customButton" shape="round" size="small" status="success" (click)="getScans(list.companyId)">Scans</button>
                                </div>
                                <div style="float: right" class="m-1">
                                    <button nbButton id="customButton" shape="round" size="small" status="success" (click)="getPosts(list.companyId)">Post</button>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </div>
            <!-- {{companyList | json}} -->
            <div class="row" *ngIf="owner">
                <div class="col-md-2 mt-2" *ngFor="let list of companyList; let i = index;">
                    <nb-card id="{{list.providerId}}" accent="success">
                        <!-- style="cursor: pointer;" (click)="getCompanyDetails(list.providerId)" -->
                        <nb-card-header style="cursor: pointer;" (click)="getCompanyDetails(list.providerId)">
                            {{list.providerName}}
                        </nb-card-header>
                        <nb-card-body>
                            <div class="row" style="margin: 5%;">
                                <label><strong>Total Companies</strong> : <span>{{companies[i].companyCount}}</span></label><br>
                                <label><strong>Total Employees</strong> : <span>{{companies[i].employeeCount}}</span></label>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
            <div class="row" *ngIf="show">
                <div class="col-md-4 mt-2">
                    <nb-card accent="danger">
                        <nb-card-header>

                        </nb-card-header>
                        <nb-card-body>
                            <h3 style="text-align: center">No Sites Found</h3>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>