<nb-card>
    <nb-card-header>
        {{CompanyName}} Scan Details
    </nb-card-header>
    <nb-card-body>
        <div class="container" *ngIf='!empty'>
            <div class="col-md-12">
                <form name="qrcode" #qrcode="ngForm" (ngSubmit)="createQRCode(qrcode)">
                    <div class="row">
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <!-- {{companyList | json}} -->
                                <label>Company Name</label>
                                <select class="form-control" name="providerName" placeholder="Company Name" (change)="providerName($event.target.value)">
                                  <option *ngFor="let list of companyList" [attr.selected]="list.companyId == routeId ? true : null"
                                    [value]="list.companyId">{{list.companyName}}
                                  </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="from-group">
                                <label>Post Name</label>
                                <select class="form-control" name="siteId" (click)="siteName($event.target.value)">
                                    <option *ngFor="let site of siteNameList" [value]="site.siteId">{{site.siteName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="from-group">
                                <label> From Date </label>
                                <input type="date" class="form-control" name="fromDate" ngModel placeholder="" required [ngModel]="date | date:'yyyy-MM-dd'">
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="from-group">
                                <label> Last Date </label>
                                <input type="date" class="form-control" name="lastDate" ngModel placeholder="" required [ngModel]="date | date:'yyyy-MM-dd'">
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-row-reverse mt-2 mb-2">
                        <div class="from-group ">
                            <button type="button" (click)="generateCsv(qrcode)" nbButton id="customButton" shape="round" size="small" status="success">Generate CSV File</button>
                        </div>
                        <div class="from-group" style="margin-right: 2%">
                            <button type="submit" nbButton id="customButton" shape="round" size="small" status="success">Search</button>
                        </div>
                        <!-- <div class="from-group" style="margin-right: 2%">
              <button type="button" (click)="close()" nbButton id="customButtonClose" shape="round" size="small"
                status="danger">Cancel</button>
            </div> -->
                    </div>
                </form>

                <nb-card *ngIf='!show'>
                    <nb-card-header>
                        <h3 style="text-align: center">List of {{selectedSiteName}} Scanned Records</h3>
                    </nb-card-header>
                    <nb-card-body>
                        <ng2-smart-table (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)" [settings]="settings" [source]="source"></ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="form-group col-md-4 mt-1" *ngIf="empty">
            <nb-card accent="danger">
                <nb-card-body>
                    <h3>No companies are added. Please add one.</h3>
                </nb-card-body>
            </nb-card>
        </div>
    </nb-card-body>
</nb-card>