/deep/ input{
    padding: 15px !important;
}

:host /deep/ tr.solved {
    background: rgba(86, 241, 86, 0.5) !important;
}
:host /deep/ tr.aborted {
    background: rgba(243, 69, 69, 0.5) !important;
}
// :host /deep/ tr:nth-child(odd){ 
//     background: none !important;
// }