<nb-card>
    <nb-card-header>
        {{user.employeeName}} Employee Details
        <div class="d-flex flex-row-reverse" style="margin-top: -2%;margin-bottom: -1%;">
            <div *ngIf="editShow">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" [(ngModel)]="loginStatus" id="myonoffswitch" (click)="toggle()">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="container" #createEmployee="ngForm" (ngSubmit)="createNewEmployee(createEmployee);">
            <div class="row">
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Employee Name<span style="color: red !important;">*</span></label>
                        <input type="text" class="form-control" name="employeeName" [(ngModel)]="user.employeeName" placeholder="Employee Name" #employeeName="ngModel" [ngClass]="{ 'is-invalid ':createEmployee.submitted && employeeName.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createEmployee.submitted && employeeName.invalid">
                            <div *ngIf="employeeName.errors.required">Employee Name is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Emergency Contact Person Name</label>
                        <input type="text" class="form-control" name="emergencyContactPersonName" [(ngModel)]="user.emergencyContactPersonName" placeholder="Emergency Contact Person Name" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Emergency Contact Person Number</label>
                        <input type="number" class="form-control" min="0" name="emergencyContactPersonNumber" [(ngModel)]="user.emergencyContactPersonNumber" placeholder="Emergency Contact Person Number" minlength="10" maxlength="10" pattern="[0-9]*" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="form-group">
                        <label>Marital Status</label>
                        <select *ngIf="editShow" class="form-control" name="maritalStatus" [(ngModel)]="user.maritalStatus" placeholder="Marital Status">
              <option value="" disabled>--Select Maritial Status--</option>
              <option *ngFor="let marriage of maritialStatus" [value]="marriage.value">{{marriage.name}}</option>
            </select>
                        <select *ngIf="!editShow" class="form-control" name="maritalStatus" ngModel placeholder="Marital Status">
              <option value="" disabled>--Select Maritial Status--</option>
              <option *ngFor="let marriage of maritialStatus" [value]="marriage.value">{{marriage.name}}</option>
            </select>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="form-group">
                        <label>Qualification</label>
                        <select *ngIf="editShow" class="form-control" name="qualification" [(ngModel)]="user.qualification" placeholder="Qualification">
              <option value="" disabled>--Select Qualification--</option>
              <option *ngFor="let quali of qualifications" [value]="quali.value">{{quali.name}}</option>
            </select>
                        <select *ngIf="!editShow" class="form-control" name="qualification" ngModel placeholder="Qualification">
              <option value="" disabled>--Select Qualification--</option>
              <option *ngFor="let quali of qualifications" [value]="quali.value">{{quali.name}}</option>
            </select>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="form-group">
                        <label>ID Proof</label>
                        <select *ngIf="editShow" class="form-control" name="typeOfIdProof" [(ngModel)]="user.typeOfIdProof" placeholder="IDProof">
              <option value="" disabled>--Select ID Proof--</option>
              <option *ngFor="let proof of idproof" [value]="proof.value">{{proof.name}}</option>
            </select>
                        <select *ngIf="!editShow" class="form-control" name="typeOfIdProof" ngModel placeholder="IDProof">
              <option value="" disabled>--Select ID Proof--</option>
              <option *ngFor="let proof of idproof" [value]="proof.value">{{proof.name}}</option>
            </select>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Profile Picture</label>
                        <input type="file" class="form-control" accept='image/*' (change)="readURL($event.target.files,'profilePic')" required />
                        <div *ngIf="user.profilePic" style="margin-top: 1%;">
                            <img [src]='user.profilePic' width="50%" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>IdCard Front Image</label>
                        <input type="file" class="form-control" accept='image/*' (change)="readURL($event.target.files,'governmentIdCardFrontImg')" required />
                        <div *ngIf="user.governmentIdCardFrontImg" style="margin-top: 1%;">
                            <img [src]='user.governmentIdCardFrontImg' width="50%" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>IdCard Back Image</label>
                        <input type="file" class="form-control" accept='image/*' (change)="readURL($event.target.files,'governmentIdCardBackImg')" required />
                        <div *ngIf="user.governmentIdCardBackImg" style="margin-top: 1%;">
                            <img [src]='user.governmentIdCardBackImg' width="50%" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Date Of Birth<span style="color: red !important;">*</span></label>
                        <input *ngIf="editShow" (blur)="getAge($event.target.value)" type="date" class="form-control" name="DOB" [(ngModel)]="user.DOB" placeholder="DOB" required>
                        <input (blur)='getAge($event.target.value)' *ngIf="!editShow" type="date" class="form-control" name="DOB" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                        <div *ngIf='DOBSelected'>
                            <div style="width: 100%;margin-top: 0.25rem;font-size: 80%; color: #dc3545;">DOB is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Age (in years)</label>
                        <input type="number" class="form-control" min="0" name="age" [(ngModel)]="user.age" placeholder="Age" pattern="[0-9]*" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Gender</label>
                        <nb-radio-group style="display: flex;" name="gender" [(ngModel)]="user.gender">
                            <nb-radio value="male" checked>Male</nb-radio>
                            <nb-radio value="female">Female</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <h4>Address Details</h4>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Present Address<span style="color: red !important;">*</span></label>
                        <textarea class="text" type="text" class="form-control" name="presentAddress" rows="5" [(ngModel)]="user.presentAddress" placeholder="Present Address" #presentAddress="ngModel" [ngClass]="{ 'is-invalid ':createEmployee.submitted && presentAddress.invalid }"
                            required></textarea>
                        <div class="invalid-feedback" *ngIf=" createEmployee.submitted && presentAddress.invalid">
                            <div *ngIf="presentAddress.errors.required">Present Address is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Permanent Address<span style="color: red !important;">*</span></label>
                        <textarea class="text" type="text" class="form-control" name="permanentAddress" rows="5" [(ngModel)]="user.permanentAddress" placeholder="Permanent Address" #permanentAddress="ngModel" [ngClass]="{ 'is-invalid ':createEmployee.submitted && permanentAddress.invalid }"
                            required></textarea>
                        <div class="invalid-feedback" *ngIf=" createEmployee.submitted && permanentAddress.invalid">
                            <div *ngIf="permanentAddress.errors.required">Permanent Address is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <h4>Login Details</h4>
                </div>
                <div *ngIf="!editShow" class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Email<span style="color: red !important;">*</span></label>
                        <input type="email" class="form-control" (blur)='checkEmail($event.target.value)' name="email" [(ngModel)]="user.email" placeholder="Email" #email="ngModel" [ngClass]="{ 'is-invalid ':createEmployee.submitted && email.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createEmployee.submitted && email.invalid">
                            <div *ngIf="email.errors.required">Email is Required</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!editShow" class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Password<span style="color: red !important;">*</span></label>
                        <input type="password" class="form-control" name="password" [disabled]="text == 'Edit'?true:false" [(ngModel)]="user.password" placeholder="Password" #password="ngModel" [ngClass]="{ 'is-invalid ':createEmployee.submitted && password.invalid }" required>
                        <div class="invalid-feedback" *ngIf=" createEmployee.submitted && password.invalid">
                            <div *ngIf="password.errors.required">Password is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Mobile Number<span style="color: red !important;">*</span></label>
                        <input type="number" class="form-control" name="mobile" [(ngModel)]="user.mobile" minlength="10" maxlength="10" pattern="[0-9]*" min="0" placeholder="Mobile Number" #mobile="ngModel" [ngClass]="{ 'is-invalid ':createEmployee.submitted && mobile.invalid }"
                            required>
                        <div class="invalid-feedback" *ngIf=" createEmployee.submitted && mobile.invalid">
                            <div *ngIf="mobile.errors.required">Mobile Number is Required</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 mt-2">
          <div class="form-group">
            <label>Select Site</label>
            <select class="form-control" name="siteId" [(ngModel)]="user.siteId" placeholder="SiteName"
              #siteId="ngModel" [ngClass]="{ 'is-invalid ':createEmployee.submitted && siteId.invalid }" required>
              <option value="" disabled>--Select Site--</option>
              <option *ngFor="let siteid of siteIdList" [value]="siteid.siteId">{{siteid.siteName}}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf=" createEmployee.submitted && siteId.invalid">
              <div *ngIf="siteId.errors.required">SiteName Field is Required</div>
            </div>
          </div>
        </div> -->
                <div class="col-md-4 mt-2">
                    <div class="form-group">
                        <label>Select Role<span style="color: red !important;">*</span></label>
                        <select *ngIf="editShow" class="form-control" name="role" [(ngModel)]="user.role" placeholder="UserType">
                            <option value="" disabled>--Select Role--</option>
                            <option *ngFor="let role of roles" [value]="role.role">{{role.role}}</option>
                        </select>
                        <select *ngIf="!editShow" class="form-control" (change)="roleSelect($event.target.value)" name="role" ngModel placeholder="UserType">
                            <option value="" disabled>--Select Role--</option>
                            <option *ngFor="let role of roles" [value]="role.role">{{role.role}}</option>
                        </select>
                        <div *ngIf='roleSelected'>
                            <div style="width: 100%;margin-top: 0.25rem;font-size: 80%; color: #dc3545;">Role Field is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <button *ngIf="!editShow" type="button" nbButton shape="round" size="small" status="success" (click)="assignMultipleCompany(assignCompany)" style="margin: 5% !important;">Assign Company</button>
                </div>
                <div *ngIf="editShow" class="col-md-12 mt-1">
                    <nb-card class="assignedCompany">
                        <nb-card-header style="background-color: #eaeef4 !important;">
                            Assigned Company and Post Details
                            <button style="float: right !important;" *ngIf="editShow" type="button" nbButton shape="round" size="small" status="success" (click)="assignMultipleCompany(assignCompany)">Re-Assign Company</button>
                        </nb-card-header>
                        <nb-card-body style="background-color: #f3f3f3 !important;">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead *ngIf='listEmpty'><strong>No Data Found</strong></thead>
                                    <thead *ngIf='!listEmpty' style="background-color: beige !important;">
                                        <tr>
                                            <th>Sl. No.</th>
                                            <th>Company</th>
                                            <th>Post</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let comp of companyList; let i = index;'>
                                            <td> <strong>{{i+1}}</strong> </td>
                                            <td> {{comp.companyName}} </td>
                                            <td>
                                                <ol *ngFor='let sites of comp.siteIds; let j = index'>
                                                    <span><strong>{{j+1}}.</strong> {{sites.siteName}}</span><br>
                                                </ol>
                                            </td>
                                            <td style="text-align: center !important;"><i style="cursor: pointer;" class="fa fa-trash" (click)='removeSite(i)'></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="col-md-12 mt-5">
                    <h4>Bank Details</h4>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Bank Name</label>
                        <input type="text" class="form-control" name="employeeBankName" [(ngModel)]="user.employeeBankName" placeholder="Bank Name" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Bank Branch Name</label>
                        <input type="text" class="form-control" name="employeeBankBranch" [(ngModel)]="user.employeeBankBranch" placeholder="Bank Branch Name" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Bank Address</label>
                        <textarea class="text" type="text" class="form-control" name="employeeBankAddress" rows="6" [(ngModel)]="user.employeeBankAddress" placeholder="Bank Address"></textarea>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Account Number</label>
                        <input type="number" min="0" class="form-control" name="employeeAccountNumber" [(ngModel)]="user.employeeAccountNumber" pattern="[0-9]*" placeholder="Account Number" required>
                    </div>
                    <div class="from-group mt-3">
                        <label>Account IFSC Code</label>
                        <input type="text" class="form-control" name="employeeIfscCode" [(ngModel)]="user.employeeIfscCode" placeholder="Account IFSC code" required>
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <h4>Working Details</h4>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Last Company Name</label>
                        <input type="text" class="form-control" name="lastCompanyname" [(ngModel)]="user.lastCompanyname" placeholder="Last Company name" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Working Experince (in years)</label>
                        <input type="number" class="form-control" name="workingExperince" [(ngModel)]="user.workingExperince" pattern="[0-9]*" placeholder="Working Experince" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Previous Salary</label>
                        <input type="text" class="form-control" name="previousSalary" pattern="[0-9]*" [(ngModel)]="user.previousSalary" (blur)="changePrevious($event.target.value)" placeholder="Previous Salary" required>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="from-group">
                        <label>Present Salary</label>
                        <input type="text" class="form-control" name="presentSalary" pattern="[0-9]*" placeholder="Present Salary" [(ngModel)]="user.presentSalary" (blur)="changePresent($event.target.value)" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Join Date</label>
                        <input *ngIf="editShow" type="date" class="form-control" name="joineDate" [(ngModel)]="user.joineDate" placeholder="Join Date" required>
                        <input *ngIf="!editShow" type="date" class="form-control" name="joineDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="from-group">
                        <label>Resign Date</label>
                        <input *ngIf="editShow" type="date" class="form-control" name="resineDate" [(ngModel)]="user.resineDate" placeholder="Resign Date" required>
                        <input *ngIf="!editShow" type="date" class="form-control" name="resineDate" [ngModel]="date | date:'yyyy-MM-dd'" placeholder="" required>
                    </div>
                </div>
            </div>
            <!-- [disabled]="createEmployee.invalid" -->
            <div class="d-flex flex-row-reverse">
                <div class="p-3" *ngIf="!editShow">
                    <button type="submit" nbButton id="customButton" shape="round" size="small" status="success">Submit</button>
                </div>
                <div class="p-3" *ngIf="editShow">
                    <button type="submit" nbButton id="customButtonUpdate" shape="round" size="small" status="success">Update</button>
                </div>
                <div class="p-3">
                    <button (click)="close()" nbButton id="customButtonClose" type="button" shape="round" size="small" status="danger">Close</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>


<!-- Model View to Assign Company Starts -->
<ng-template #assignCompany let-modal>
    <form [formGroup]="company" (ngSubmit)="onSubmit()">
        <div class="modal-header">
            <h4 class="modal-title">Assign Company and Post</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body" style="overflow-y: auto !important">
            <div class="d-flex flex-row-reverse">
                <div class="m-1">
                    <button type="button" (click)="addItem()" nbButton id="customButtonUpdate" shape="round" size="small" status="success">Add More</button>
                </div>
            </div>
            <div formArrayName="items" *ngFor="let item of company.controls.items.controls; let i = index;">
                <div class="row" style="border: 1px solid black; margin: 1%; padding: 1%;" [formGroupName]="i">
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label>Select Company</label>
                            <select class="form-control" placeholder="CompanyName" (change)="getSiteDetail($event.target.value)" required formControlName="companyId">
                              <option value="" disabled>--Select Company--</option>
                              <option *ngFor="let lists of companyLists" [value]="lists.companyId">{{lists.companyName}}
                              </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2" *ngIf='selected'>
                        <div class="from-group">
                            <label>Select Post</label>
                            <ng-multiselect-dropdown-angular7 formControlName="siteIds" [placeholder]="'Select Post'" [data]="dropdownList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown-angular7>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button nbButton id="customButtonUpdate" shape="round" size="small" status="danger" type="button" *ngIf="company.controls.items.length > 1" (click)="RemoveItem(i)">Delete</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-8" style="float: left; color: green;" *ngIf='length'><span>Companies and posts assigned
          successfully.</span></div>
            <div class="d-flex flex-row-reverse">
                <div class="p-3">
                    <button type="submit" nbButton id="customButtonUpdate" shape="round" size="small" status="success">Submit</button>
                </div>
                <div class="p-3">
                    <button (click)="modal.dismiss('Cross click')" nbButton id="customButtonClose" type="button" shape="round" size="small" status="danger">Close</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<!-- Model View to Assign Company Ends -->