table tbody tr {
    transition: background 0.2s ease-in;
}

table tbody tr:nth-child(odd) {
    background: #dde5ec;
}

table tbody tr:nth-child(even) {
    background: #ced8e0;
}

table tbody tr:hover {
    background: silver;
    cursor: pointer;
}

.onoffswitch {
    position: relative;
    width: 129px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 30px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 46px;
    padding: 0;
    line-height: 46px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 10px;
    background-color: #41dc7e;
    color: #0A0909;
}

.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #0A0909;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 39px;
    margin: 3.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 79px;
    border: 2px solid #999999;
    border-radius: 30px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}