<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
<div class="modal-body">
    {{ message }}

</div>
<div class="modals-footer">
    <button nbButton id="customButtonClose" type="button" shape="round" size="small" status="danger" (click)="decline()" style="float:left !important;cursor: pointer !important;">{{ btnCancelText }}</button>
    <button nbButton id="customButtonClose" type="button" shape="round" size="small" status="success" (click)="accept()" style="float: right !important;cursor: pointer !important;">{{ btnOkText }}</button>
</div>